
/* 아래는 legacy 버전에서 사용한 CSS 위는 새로 만들 버전용. */
.App {
  text-align: center;
}

.todo-item {
  width: 300px;
  height: 50px;
  border : 1px solid lightblue ;
  text-align: center;
  margin:auto;
  font-weight: bold;
}

.remv-item {
  position: relative; left: 120px; bottom: 25px;
}

